/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
}

.centering{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-toolbar .mat-form-field-suffix .mat-icon{
  font-size: 24px;
}

.mat-card-avatar{
  border-radius: 0 !important;
  width: 80px !important;
  height: 80px !important;
}

.spacer {
  flex: 1 1 auto;
}

.home-sidenav .mat-list-item-content{
  padding-left: 20px !important;
}

.person-list .mat-list-item-content{
  padding: 0 !important;
}

[mat-dialog-title], mat-dialog-content p{
  text-align: center;
}

.org-center .mat-list-item-content{
  justify-content: center;
}

.pointer{
  cursor: pointer;
}

.transparent{
  background-color: transparent;
}

.full-width{
  width: 100%;
}