<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0">
    <mat-nav-list>
      <mat-list-item routerLink="/home" routerLinkActive="active-item">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine>Home</a>
      </mat-list-item>
      <mat-list-item routerLink="/roles" routerLinkActive="active-item">
        <mat-icon matListIcon>vpn_key</mat-icon>
        <a matLine>Roles</a>
      </mat-list-item>
      <mat-list-item routerLink="/permissions" routerLinkActive="active-item">
        <mat-icon matListIcon>vpn_key</mat-icon>
        <a matLine>Permissions</a>
      </mat-list-item>
      <mat-list-item routerLink="/management" routerLinkActive="active-item">
        <mat-icon matListIcon>group</mat-icon>
        <a matLine>Management</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>