.sidenav-container {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.sidenav {
  display: flex;
  width: 242px;
  background-color: rgb(245, 245, 245);
  border: 0 solid rgba(240, 240, 240, 1);
  border-right-width: 2px;
}

.sidenav mat-nav-list{
  width: 100%;
}

.active-item mat-icon{
  color: darkblue;
}

.active-item a{
  font-weight: bold;
}