<mat-card class="mat-elevation-z0">
  <a mat-raised-button routerLink="/add" color="primary" class="btn-margin">New</a>
  <a mat-button routerLink=".">Import</a>
</mat-card>

<div class="perm-content">
  <div class="perm-container mat-elevation-z1">
    <div class="perm-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="perm-rate-limit-reached" *ngIf="isRateLimitReached">
        Ooppsie! Something went wrong. Try again later.
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" class="perm-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
      <ng-container matColumnDef="appname">
        <mat-header-cell *matHeaderCellDef>App</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.appname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patname">
        <mat-header-cell *matHeaderCellDef>Patient</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.patname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="resname">
        <mat-header-cell *matHeaderCellDef>Resource</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.resname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="c">
        <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="r">
        <mat-header-cell *matHeaderCellDef>R</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="u">
        <mat-header-cell *matHeaderCellDef>U</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="d">
        <mat-header-cell *matHeaderCellDef>D</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef>Start</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.start | date:'shortDate' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef>End</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.end | date:'shortDate' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="requestername">
        <mat-header-cell *matHeaderCellDef>Requester</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.requestername }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="providername">
        <mat-header-cell *matHeaderCellDef>Provider</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.providername }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="when">
        <mat-header-cell *matHeaderCellDef>When</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.when | date:'shortDate' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef class="icon-cell">
          <mat-icon>edit</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="'orange'" class="icon-cell">
          <mat-icon class="pointer">edit</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef class="icon-cell">
          <mat-icon>close</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="'red'" class="icon-cell">
          <mat-icon class="pointer">close</mat-icon>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
          Created
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.created_at | date }}</mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="resultsLength" [pageSize]="30">
    </mat-paginator>
  </div>
</div>