<div class="perm-content">
  <mat-card class="mat-elevation-z0 transparent">
    <form class="perm-form" [formGroup]="permForm">
      <table class="full-width" cellspacing="10">
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="App" formControlName="appname" />
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('appname')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="Patient" formControlName="patname" />
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('patname')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="Resource" formControlName="resname" />
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('resname')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="full-width" cellspacing="10">
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="Requester" formControlName="requestername" />
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('requestername')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Start" formControlName="start">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="End" formControlName="end">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="full-width" cellspacing="10">
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="text" placeholder="Provider" formControlName="providername" />
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearControl('providername')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="Date for When" formControlName="when">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </td>
          <td align="center">
            <mat-card class="mat-elevation-z0 transparent full-width">
              <mat-radio-group formControlName="whenadj">
                <mat-radio-button value="before">Before</mat-radio-button>
                <mat-radio-button value="after">After</mat-radio-button>
              </mat-radio-group>
            </mat-card>
          </td>
        </tr>
      </table>
      <table class="full-width" cellspacing="10">
        <tr>
          <td>
            <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
            <mat-slide-toggle formControlName="expired">Skip expired</mat-slide-toggle>
          </td>
        </tr>
      </table>
      <button mat-raised-button color="primary" (click)="filter()">Filter</button>
      <button mat-raised-button (click)="clearFilter()">Clear</button>
    </form>
  </mat-card>
  <div class="perm-container mat-elevation-z1">
    <div class="perm-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="perm-rate-limit-reached" *ngIf="isRateLimitReached">
        Ooppsie! Something went wrong. Try again later.
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" class="perm-table" matSort>
      <ng-container matColumnDef="appname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>App</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.appname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Patient</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.patname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="resname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Resource</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.resname }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="c">
        <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="r">
        <mat-header-cell *matHeaderCellDef>R</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="u">
        <mat-header-cell *matHeaderCellDef>U</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="d">
        <mat-header-cell *matHeaderCellDef>D</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef>Start</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.start | date:'shortDate' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef>End</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.end | date:'shortDate' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="requestername">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Requester</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.requestername }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="providername">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Provider</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.providername }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="when">
        <mat-header-cell *matHeaderCellDef>When</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.when | date:'shortDate' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef class="icon-cell">
          <mat-icon>edit</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="'orange'" class="icon-cell">
          <mat-icon class="pointer">edit</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef>
          Active
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-slide-toggle [checked]='row.active'></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="resultsLength" [pageSize]="30">
    </mat-paginator>
  </div>
</div>