<mat-sidenav-container class="home-container">
  <mat-sidenav #detailnav position="end" mode="side" [fixedInViewport]="true" [fixedTopGap]="56" [fixedBottomGap]="0" opened="false"
    class="select-sidenav mat-elevation-z2">
    <mat-list *ngIf="sidenavService.data">
      <mat-list-item>
        <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="kutya">
        <h3 matLine>
          <b *ngIf="sidenavService.data.name!={}">{{sidenavService.data.name[0].text}}</b>
        </h3>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="closeNav()" class="close-btn">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-tab-group>
        <mat-tab label="Basic">
          <mat-list>
            <mat-list-item>
              Taj: {{sidenavService.data.identifier[0]}}
            </mat-list-item>
            <mat-list-item>
              Gender: {{sidenavService.data.gender}}
            </mat-list-item>
            <mat-list-item>
              Birth Date: {{sidenavService.data.birthdate | date: 'shortDate'}}
            </mat-list-item>
            <mat-list-item class="org-center">
              <button mat-button>
                {{sidenavService.data.managingorganization}}
                <mat-icon class="toolbar-icon">launch</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list>
              <h3 matSubheader>Telecom</h3>
              <mat-list-item *ngFor="let tele of sidenavService.data.telecom">
                {{tele.system}}: {{tele.value}}
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 matSubheader>Address</h3>
              <mat-list-item *ngFor="let add of sidenavService.data.address">
                {{add.use}}: {{add.text}}
              </mat-list-item>
            </mat-list>
          </mat-list>
        </mat-tab>
        <mat-tab label="Links">
          <mat-list>
            <mat-list-item>
              <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="kutya">
              <h3 matLine> identifier </h3>
              <p matLine>
                <span>
                  <b>Gyula</b> (Male) </span>
                <span> -- 17/12/2018 </span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="kutya">
              <h3 matLine> identifier </h3>
              <p matLine>
                <span>
                  <b>Gyula</b> (Male) </span>
                <span> -- 17/12/2018 </span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="kutya">
              <h3 matLine> identifier </h3>
              <p matLine>
                <span>
                  <b>Gyula</b> (Male) </span>
                <span> -- 17/12/2018 </span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="man-content">
    <app-person-table></app-person-table>
  </mat-sidenav-content>
</mat-sidenav-container>