.registration-panel{
  background-color: white;
  width: 30%;
  min-width: 320px;
  min-height: 400px; 
}
.registration-panel h2,h4{
  margin: 0;
}
.registration-form{
  width: 100%;
  margin: 30px 0; 
}
.registration-form mat-form-field{
  width: 100%;
}
.registration-form button{
  float: right;
}