<mat-toolbar class="home-toolbar mat-elevation-z1">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon class="toolbar-icon">menu</mat-icon>
  </button>
  <a class="toolbar-logo" mat-button routerLink="/">FHIR</a>
  <form>
    <mat-form-field floatLabel="never" class="search-width">
      <input matInput placeholder="Search" aria-label="Search" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <!-- <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" /> -->
          <span>{{ state.name }}</span>
          <!-- | -->
          <!-- <small>Population: {{state.population}}</small> -->
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <span class="toolbar-spacer"></span>
  <button mat-button>
    <mat-icon class="toolbar-icon">person_add</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="userProfile">
    <mat-icon class="toolbar-icon">account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userProfile="matMenu">
  <button mat-menu-item>
    <mat-icon> person </mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <span>Logout</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon> settings </mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon> help </mat-icon>
    <span>Help</span>
  </button>
  <button mat-menu-item>
    <mat-icon> feedback </mat-icon>
    <span>Feedback</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="languageMenu">Language: English</button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
  <button mat-menu-item>English</button>
  <button mat-menu-item>Magyar</button>
</mat-menu>

<mat-sidenav-container class="home-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="home-sidenav" [fixedInViewport]="true" [fixedTopGap]="60" [fixedBottomGap]="0">
    <mat-nav-list>
      <mat-list-item *ngFor="let routeName of routeNames" routerLink="{{routeName}}" routerLinkActive="active-item">
        <a matLine>
          {{routeName}}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="home-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>