<div class="centering">
  <mat-card class="add-panel">
    <button mat-icon-button="mat-icon-button" class="back-margin" routerLink="/management">
      <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <mat-card class="no-box">
      <form [formGroup]="addPersonForm" class="full-width" (ngSubmit)="Add()">
        <mat-form-field>
          <input type="text" formControlName="identifier" matInput="matInput" placeholder="Identifier" />
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="nametext" matInput="matInput" placeholder="Official name" required />
        </mat-form-field>

        <mat-form-field>
          <input type="email" formControlName="email" matInput="matInput" placeholder="Email" required />
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birthdate" formControlName="birthdate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Female">Female</mat-radio-button>

          <mat-radio-button value="Male">Male</mat-radio-button>

          <mat-radio-button value="Other">Other</mat-radio-button>
        </mat-radio-group>

        <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>

        <div class="padding-16">
          <button mat-raised-button="mat-raised-button" type="submit" [disabled]="!addPersonForm.valid" color="primary">Add</button>

          <button mat-raised-button="mat-raised-button" type="reset">Clear</button>
        </div>
      </form>
    </mat-card>
  </mat-card>
</div>