<div class="centering">
  <mat-card class="add-panel">
    <button mat-icon-button class="back-margin" routerLink="/">
      <mat-icon aria-label="Back">arrow_back</mat-icon>
    </button>

    <mat-divider></mat-divider>
    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="firstFormGroup">
        <form>
          <ng-template matStepLabel>Select type</ng-template>
          <mat-form-field>
            <mat-select placeholder="Entity" required>
              <mat-option>--</mat-option>
              <mat-option [value]="person">
                Person
              </mat-option>
              <mat-option [value]="patient">
                Patient
              </mat-option>
              <mat-option [value]="group">
                Group
              </mat-option>
              <mat-option [value]="organization">
                Organization
              </mat-option>
              <mat-option [value]="careTeam">
                Care team
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form>
          <ng-template matStepLabel>Basic informations</ng-template>
          <mat-form-field>
            <input matInput placeholder="Name" required>
          </mat-form-field>
          <br>
          <mat-radio-group>
            <mat-radio-button class="radio-margin" value="male">Male</mat-radio-button>
            <mat-radio-button class="radio-margin" value="female">Female</mat-radio-button>
            <mat-radio-button class="radio-margin" value="other">Other</mat-radio-button>
            <mat-radio-button class="radio-margin" value="unknown">Unknown</mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thordFormGroup">
        <form>
          <ng-template matStepLabel>Linking</ng-template>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>