/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0 auto;
  background-color: rgb(210, 210, 210);
}

.centering{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-toolbar .mat-form-field-wrapper {
  padding-bottom: 0.85em !important;
}

.home-toolbar .mat-form-field-suffix .mat-icon{
  font-size: 24px;
}